<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="AutoClose" value="true" />
    <add key="DirectoryPath" value="C:\Users\bharisso\Downloads" />
    <add key="OutputFilename" value="sample.xml" />
    <add key="BackupExistingFeedFirst" value="true" />
    <add key="UrlPrefix" value="https://dl.dropboxusercontent.com/u/128970065/Podcast/" />
    <add key="Minify" value="false" />
    <add key="PodcastTitle" value="Calvary Chapel Southside Audio Sermons" />
    <add key="PodcastHomepage" value="http://calvarysouthside.org" />
    <add key="Language" value="en-us" />
    <add key="Copyright" value="Free to distribute. Do not sell." />
    <add key="Subtitle" value="" />
    <add key="Author" value="Doug Dodge" />
    <add key="DescriptionSummary" value="Calvary Chapel Southside is a non-denominational ministry in St Petersburg, FL. We go through the entire Bible book-by-book, verse-by-verse; New Testament on Sundays, and Old Testament on Wednesdays. We would love to have you follow along, or join us for a visit. Visit us online at CalvarySouthside.org to learn more." />
    <add key="Explicit" value="false" />
    <add key="Email" value="calvarysouthside@gmail.com" />
    <add key="ArtworkUrl" value="http://dl.dropboxusercontent.com/u/128970065/Podcast/CalvarySouthside.org-Podcast.jpg" />
    <add key="Category" value="Religion &amp; Spirituality" />
    <add key="SubCategory" value="Christianity" />
    <add key="PodcastRssUrl" value="https://dl.dropboxusercontent.com/u/128970065/Podcast/CalvarySouthside.org-Podcast.xml" />
    <add key="FileExtensionFilter" value=".mp3" />
  </appSettings>
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>